In [3]:
# Import our dependencies
import pandas as pd
import numpy as np
from pathlib import Path

from sqlalchemy import create_engine
import time

from config import db_password

In [4]:
# Read a starting datase
file_path = "../Resources/14100328.csv"
df = pd.read_csv(file_path, error_bad_lines=False)
df.sample(n=3)

/Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
321720,2015-01,Nova Scotia,2016A000212,"Fabric, fur and leather cutters [9445]",1 year to less than 3 years,Proportion of job vacancies,Percentage,242,units,0,v104856158,4.659.19.2,NaN,..,NaN,NaN,1
8247766,2016-10,Nova Scotia,2016A000212,Legislators [0011],"Certification requirement, all types",Average offered hourly wage,Dollars,81,units,0,v104770872,4.193.14.5,NaN,..,NaN,t,2
5913690,2016-04,Prince Edward Island,2016A000211,Psychologists [4151],"Type of work, all types",Average offered hourly wage,Dollars,81,units,0,v104717505,3.401.1.5,NaN,x,NaN,NaN,2

## I. Remouving Redundant Data

### Filter data quality: A - excellent, B - very good, C - good, acceptable - D

In [5]:
df = df.loc[(df['STATUS'] == 'A')|(df['STATUS'] == 'B')|(df['STATUS'] == 'C')|(df['STATUS'] == 'D')]

In [6]:
df['REF_DATE'].unique()

array(['2015-01', '2015-04', '2015-07', '2015-10', '2016-01', '2016-04',
       '2016-07', '2016-10', '2017-01', '2017-04', '2017-07', '2017-10',
       '2018-01', '2018-04', '2018-07', '2018-10', '2019-01', '2019-04',
       '2019-07', '2019-10', '2020-01', '2020-10', '2021-01', '2021-04'],
      dtype=object)

### Remouve Proportion of job vacancies and Average offered hourly wage

In [7]:
# df = df.drop(df2[(df2['REF_DATE'] == '2020-01')|(df['REF_DATE'] == '2020-10')|(df2['REF_DATE'] == '2021-01')|(df['REF_DATE'] == '2021-04')|(df['REF_DATE'] == '2015-01')].index)

In [8]:
df = df.loc[(df['Statistics'] =='Job vacancies')]
df.sample(n=3)

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
13700407,2018-01,Canada,2016A000011124,Managers in transportation [073],Online job boards,Job vacancies,Number,223,units,0,v104504566,1.68.38.1,260.0,C,NaN,NaN,0
16355027,2018-07,Quebec,2016A000224,"Technical occupations in architecture, draftin...","Type of work, all types",Job vacancies,Number,223,units,0,v104980051,6.96.1.1,565.0,D,NaN,NaN,0
27010085,2021-04,British Columbia,2016A000259,"Middle management occupations in trades, trans...","Minimum experience level sought, all levels",Job vacancies,Number,223,units,0,v105417283,11.16.17.1,785.0,C,NaN,NaN,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006981 entries, 408280 to 27315631
Data columns (total 17 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   REF_DATE                              1006981 non-null  object
 1   GEO                                   1006981 non-null  object
 2   DGUID                                 1006981 non-null  object
 3   National Occupational Classification  1006981 non-null  object
 4   Job vacancy characteristics           1006981 non-null  object
 5   Statistics                            1006981 non-null  object
 6   UOM                                   1006981 non-null  object
 7   UOM_ID                                1006981 non-null  int64
 8   SCALAR_FACTOR                         1006981 non-null  object
 9   SCALAR_ID                             1006981 non-null  int64
 10  VECTOR                                1006981 non-null  object
 11  COORDINATE                            1006981 non-null  object
 12  VALUE                                 1006981 non-null  float64
 13  STATUS                                1006981 non-null  object
 14  SYMBOL                                0 non-null        float64
 15  TERMINATED                            89489 non-null    object
 16  DECIMALS                              1006981 non-null  int64
dtypes: float64(2), int64(3), object(12)
memory usage: 138.3+ MB

In [10]:
df = df.reset_index(drop=True)

In [11]:
df.to_csv('../Resources/1.2_VacanciesRawData.csv',index=False)

### Filtering and Saving .csv for ML model. No totals for Provinces, Filtering Broad NOC and Full/Part-time

In [18]:
# Remouve Totals of Provinces
df_ml = df.loc[(df['GEO'] != 'Canada')]
df_ml.sample(n=3)

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
286226,2017-01,Ontario,2016A000235,Managers in natural resources production and f...,Social media,Job vacancies,Number,223,units,0,v105052897,7.69.39.1,5.0,D,NaN,NaN,0
532431,2018-04,British Columbia,2016A000259,"Paraprofessional occupations in legal, social,...","Type of work, all types",Job vacancies,Number,223,units,0,v105450499,11.115.1.1,2420.0,C,NaN,NaN,0
472333,2018-01,Ontario,2016A000235,Transport truck drivers [7511],Social media,Job vacancies,Number,223,units,0,v105116125,7.583.39.1,2470.0,C,NaN,NaN,0

In [19]:
# Filter Job vacancy characteristics
df_ml = df_ml.loc[(df_ml['Job vacancy characteristics'] == 'Full-time') | \
                          (df_ml['Job vacancy characteristics'] == 'Part-time')]

In [20]:
# Filter Broad NOC
inc_list = ['Business, finance and administration occupations [1]', \
            'Health occupations [3]', \
            'Management occupations [0]', 'Natural and applied sciences and related occupations [2]', \
            'Natural resources, agriculture and related production occupations [8]', \
            'Occupations in art, culture, recreation and sport [5]', \
            'Occupations in education, law and social, community and government services [4]', \
            'Occupations in manufacturing and utilities [9]', \
            'Sales and service occupations [6]', \
            'Trades, transport and equipment operators and related occupations [7]']
df_ml = df_ml[df_ml['National Occupational Classification'].isin(inc_list)]

In [21]:
# Check copmleted data
check_ml = df_ml.groupby(["REF_DATE"]).sum()["VALUE"]
check_ml

REF_DATE
2015-04    410650.0
2015-07    380405.0
2015-10    338460.0
2016-01    309350.0
2016-04    367470.0
2016-07    389610.0
2016-10    357035.0
2017-01    364960.0
2017-04    445760.0
2017-07    458405.0
2017-10    460440.0
2018-01    448035.0
2018-04    535320.0
2018-07    541080.0
2018-10    535430.0
2019-01    496350.0
2019-04    570340.0
2019-07    549145.0
2019-10    501025.0
2020-01    501075.0
2020-10    548335.0
2021-01    536680.0
2021-04    713280.0
Name: VALUE, dtype: float64

In [22]:
ml_df.to_csv('../Resources/1.3_DataforMLtesting.csv',index=False)

# II. Cleaning and Saving Data to .csv

In [26]:
df2 = df.copy()

In [27]:
# Cleaning data

#splitting NOC Description and Code
df2[['NOCdesc','NOCcode']] = df2['National Occupational Classification'].str.split("[",expand=True)

#removing junkdf2_stat  from column
df2[['NOCcode','junk']] = df2['NOCcode'].str.split("]", expand=True)

#splitting date to year and month
df2[['Year','Quarter']] = df2['REF_DATE'].str.split("-",expand=True)                  

#converting Month to Quarter
df2['Quarter'] = df2['Quarter'].replace(['01','04','07','10'],['1','2','3','4'])

#drop redundant columns
df2 = df2.drop(columns=['junk', 'National Occupational Classification','DGUID','UOM_ID','SCALAR_FACTOR',
                      'SCALAR_ID','VECTOR','STATUS','SYMBOL','COORDINATE','TERMINATED','DECIMALS','UOM'])
#rename columns
df_cleaned = df2.rename(columns={"GEO": "Location", "NOCdesc": "NOC_Desc", "NOCcode": "NOC_Code", 
                        "Job vacancy characteristics" :"JobDetails"})

#creating Id col
df_cleaned['ID'] = df_cleaned.index
df_cleaned.head()
# df_cleaned.shape

,REF_DATE,Location,JobDetails,Statistics,VALUE,NOC_Desc,NOC_Code,Year,Quarter,ID
0,2015-01,Quebec,"Type of work, all types",Job vacancies,60505.0,"Total, all occupations",None,2015,1,0
1,2015-01,Quebec,Full-time,Job vacancies,45385.0,"Total, all occupations",None,2015,1,1
2,2015-01,Quebec,"Minimum level of education required, all levels",Job vacancies,60505.0,"Total, all occupations",None,2015,1,2
3,2015-01,Quebec,"Certification requirement, all types",Job vacancies,60505.0,"Total, all occupations",None,2015,1,3
4,2015-01,Quebec,"Minimum experience level sought, all levels",Job vacancies,60505.0,"Total, all occupations",None,2015,1,4

## 2.1 No totals for Provinces, Filtering Broad NOC and Full/Part-time

In [28]:
df_no_ttl = df_cleaned.copy()

In [29]:
# Remouve Totals of Provinces
df_no_ttl = df_no_ttl.loc[(df_no_ttl['Location'] != 'Canada')]
df_no_ttl.sample(n=3)

,REF_DATE,Location,JobDetails,Statistics,VALUE,NOC_Desc,NOC_Code,Year,Quarter,ID
87939,2015-10,Ontario,"Certification requirement, all types",Job vacancies,1520.0,"Policy and program researchers, consultants an...",416,2015,4,87939
90091,2015-10,Ontario,Social media,Job vacancies,95.0,"Plastic products assemblers, finishers and ins...",9535,2015,4,90091
962210,2021-01,Yukon,Company website,Job vacancies,405.0,"Total, all occupations",None,2021,1,962210

In [31]:
# Filter number of Job vacancies
df_no_ttl = df_no_ttl.loc[(df_no_ttl['JobDetails'] == 'Full-time') | \
                          (df_no_ttl['JobDetails'] == 'Part-time')]

In [32]:
# Filter Broad NOC
inc_list = ['0','1', '2', '3', '4', '5', '6', '7', '8', '9']
df_no_ttl = df_no_ttl[df_no_ttl.NOC_Code.isin(inc_list)]

In [35]:
# Check copmleted data
check_no_ttl = df_no_ttl.groupby(["REF_DATE"]).sum()["VALUE"]
check_no_ttl

REF_DATE
2015-04    410650.0
2015-07    380405.0
2015-10    338460.0
2016-01    309350.0
2016-04    367470.0
2016-07    389610.0
2016-10    357035.0
2017-01    364960.0
2017-04    445760.0
2017-07    458405.0
2017-10    460440.0
2018-01    448035.0
2018-04    535320.0
2018-07    541080.0
2018-10    535430.0
2019-01    496350.0
2019-04    570340.0
2019-07    549145.0
2019-10    501025.0
2020-01    501075.0
2020-10    548335.0
2021-01    536680.0
2021-04    713280.0
Name: VALUE, dtype: float64

In [37]:
# , inplace=True                       
df_no_ttl=df_no_ttl.replace({'Business, finance and administration occupations ': 'Business, finance', \
                   'Health occupations ':'Health', \
                  'Management occupations ':'Management', \
                  'Natural and applied sciences and related occupations ':'Natural, Applied sciences', \
                  'Natural resources, agriculture and related production occupations ':'Natural resources, agriculture', \
                  'Occupations in art, culture, recreation and sport ': 'Art, culture, and sport', \
                  'Occupations in education, law and social, community and government services ': 'Education, law and social, government service', \
                   'Occupations in manufacturing and utilities ':'Manufacturing', \
                  'Sales and service occupations ':'Sales and service', \
                  'Trades, transport and equipment operators and related occupations ':'Trades, transport and equipment'})

In [38]:
check_replace = sorted(df_no_ttl['NOC_Desc'].unique().tolist())
check_replace

['Art, culture, and sport',
 'Business, finance',
 'Education, law and social, government service',
 'Health',
 'Management',
 'Manufacturing',
 'Natural resources, agriculture',
 'Natural, Applied sciences',
 'Sales and service',
 'Trades, transport and equipment']

In [39]:
df_no_ttl.to_csv('../Resources/2.1_Vacancies_Broad_NOC_all_Qs.csv', index=False)

## 2.2 Table with Totals for Time series and SARIMA model

In [41]:
ttl_df = df_cleaned.copy()

In [43]:
ttl_df = ttl_df.loc[(ttl_df['Location'] == 'Canada')]
ttl_df.sample(n=3)
print(ttl_df.shape)

(285674, 10)

In [44]:
ttl_df = ttl_df.loc[(ttl_df['NOC_Desc'] == 'Total, all occupations')]
ttl_df.shape

(993, 10)

In [47]:
ttl_df = ttl_df.loc[(ttl_df['JobDetails'] == 'Type of work, all types')]
ttl_df

,REF_DATE,Location,JobDetails,Statistics,VALUE,NOC_Desc,NOC_Code,Year,Quarter,ID
16,2015-04,Canada,"Type of work, all types",Job vacancies,451925.0,"Total, all occupations",None,2015,2,16
32572,2015-07,Canada,"Type of work, all types",Job vacancies,407865.0,"Total, all occupations",None,2015,3,32572
67008,2015-10,Canada,"Type of work, all types",Job vacancies,358755.0,"Total, all occupations",None,2015,4,67008
100803,2016-01,Canada,"Type of work, all types",Job vacancies,330215.0,"Total, all occupations",None,2016,1,100803
138936,2016-04,Canada,"Type of work, all types",Job vacancies,391190.0,"Total, all occupations",None,2016,2,138936
179522,2016-07,Canada,"Type of work, all types",Job vacancies,404860.0,"Total, all occupations",None,2016,3,179522
221023,2016-10,Canada,"Type of work, all types",Job vacancies,381010.0,"Total, all occupations",None,2016,4,221023
264067,2017-01,Canada,"Type of work, all types",Job vacancies,387080.0,"Total, all occupations",None,2017,1,264067
305492,2017-04,Canada,"Type of work, all types",Job vacancies,459685.0,"Total, all occupations",None,2017,2,305492
353548,2017-07,Canada,"Type of work, all types",Job vacancies,467395.0,"Total, all occupations",None,2017,3,353548
399239,2017-10,Canada,"Type of work, all types",Job vacancies,469360.0,"Total, all occupations",None,2017,4,399239
442013,2018-01,Canada,"Type of work, all types",Job vacancies,461845.0,"Total, all occupations",None,2018,1,442013
486254,2018-04,Canada,"Type of work, all types",Job vacancies,546820.0,"Total, all occupations",None,2018,2,486254
535117,2018-07,Canada,"Type of work, all types",Job vacancies,550670.0,"Total, all occupations",None,2018,3,535117
584373,2018-10,Canada,"Type of work, all types",Job vacancies,547330.0,"Total, all occupations",None,2018,4,584373
632391,2019-01,Canada,"Type of work, all types",Job vacancies,506140.0,"Total, all occupations",None,2019,1,632391
681737,2019-04,Canada,"Type of work, all types",Job vacancies,581595.0,"Total, all occupations",None,2019,2,681737
734300,2019-07,Canada,"Type of work, all types",Job vacancies,562910.0,"Total, all occupations",None,2019,3,734300
786315,2019-10,Canada,"Type of work, all types",Job vacancies,508590.0,"Total, all occupations",None,2019,4,786315
833207,2020-01,Canada,"Type of work, all types",Job vacancies,512760.0,"Total, all occupations",None,2020,1,833207
877449,2020-10,Canada,"Type of work, all types",Job vacancies,560215.0,"Total, all occupations",None,2020,4,877449
917538,2021-01,Canada,"Type of work, all types",Job vacancies,553480.0,"Total, all occupations",None,2021,1,917538
962607,2021-04,Canada,"Type of work, all types",Job vacancies,731905.0,"Total, all occupations",None,2021,2,962607

In [49]:
df_TS= ttl_df[['REF_DATE', 'VALUE']]
df_TS

       REF_DATE     VALUE
16      2015-04  451925.0
32572   2015-07  407865.0
67008   2015-10  358755.0
100803  2016-01  330215.0
138936  2016-04  391190.0
179522  2016-07  404860.0
221023  2016-10  381010.0
264067  2017-01  387080.0
305492  2017-04  459685.0
353548  2017-07  467395.0
399239  2017-10  469360.0
442013  2018-01  461845.0
486254  2018-04  546820.0
535117  2018-07  550670.0
584373  2018-10  547330.0
632391  2019-01  506140.0
681737  2019-04  581595.0
734300  2019-07  562910.0
786315  2019-10  508590.0
833207  2020-01  512760.0
877449  2020-10  560215.0
917538  2021-01  553480.0
962607  2021-04  731905.0

In [56]:
ttl_df.to_csv('../Resources/2.2_DataForTS_StatsModel.csv', index=False)
df_TS.to_csv('../Resources/2.3_Date_and_Vacancies.csv', index=False)

# 2.4 NOC Table

In [52]:
## creating NOC dataframe
NOC = df_cleaned[['NOC_Desc','NOC_Code']]

#dropping duplicate rows
NOC = NOC.drop_duplicates()

#resetting indexes
NOC = NOC.reset_index(drop=True)

#creating ID from index
NOC['ID'] = NOC.index

#reordering columns
NOC = NOC[['ID','NOC_Code','NOC_Desc']]
NOC

      ID NOC_Code                                           NOC_Desc
0      0     None                             Total, all occupations
1      1        0                            Management occupations
2      2       00                     Senior management occupations
3      3      001                 Legislators and senior management
4      4     0011                                       Legislators
..   ...      ...                                                ...
652  652     7295                         Floor covering installers
653  653     3113                                          Dentists
654  654     3223  Dental technologists, technicians and laborato...
655  655     4155  Probation and parole officers and related occu...
656  656     7283                                       Tilesetters

[657 rows x 3 columns]

In [53]:
#exporting to csv
NOC.to_csv('../Resources/2.4_NOC.csv', #index_label="ID"
           index=False)

# III. Exporting Data Tables to Postgres

In [22]:
#sample data
# job_vacancies.sample(n=250).to_csv('../Resources/2.2_Vacancies_Totals.csv', index=False)
# avg_wage.sample(n=250).to_csv('../Resources/3._Average_Wage_sample.csv', index=False)

In [92]:
# create connection for PostgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/project_db"

In [93]:
# pip install psycopg2-binary

In [94]:
# Create the database engine
import psycopg2
engine = create_engine(db_string)

In [95]:
# Refactoring above by 'delete the comments'
# Step 1. Print Number of Imported Rows
# Step 2. Print Elapsed Time
# rows_imported = 0
# file_dir = ../Resources/14100328_short.csv"
# St.2 get the start_time from time.time()
# start_time = time.time()
# for data in pd.read_csv(f'{file_dir}', chunksize=1000000):
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#     data.to_sql(name='ratings', con=engine, if_exists='append')
#     rows_imported += len(data)

#     # St.2 add elapsed time to final print out
#     print(f'Done. {time.time() - start_time} total seconds elapsed')

In [96]:
# Import the data
# df.to_sql(name='db_initial', con=engine, if_exists='replace')

# IV. Exporting Table Data. Postgres

In [97]:
# Connect to PostgreSQL server
dbConnection = engine.connect();

In [100]:
# Read data from PostgreSQL database table and load into a DataFrame instance

df_sql = pd.read_sql("select * from \"noc\"", dbConnection);

In [101]:
pd.set_option('display.expand_frame_repr', False)

In [102]:
df_sql

      id noc_code                                           noc_desc
0      0        0                            Management occupations
1      1       00                     Senior management occupations
2      2      001                 Legislators and senior management
3      3     0012          Senior government managers and officials
4      4     0013  Senior managers - financial, communications an...
..   ...      ...                                                ...
659  659     4422                     Correctional service officers
660  660     7361             Railway and yard locomotive engineers
661  661     7234                                      Boilermakers
662  662     5135                              Actors and comedians
663  663      826        Fishing vessel masters and fishermen/women

[664 rows x 3 columns]

In [103]:
# Close the database connection
dbConnection.close();

## V. Connection with Google sheet

In [104]:
pip install gspread

Collecting gspread
  Downloading gspread-4.0.1-py3-none-any.whl (29 kB)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from gspread) (2.3.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth>=1.12.0->gspread) (52.0.0.post20210125)
Requirement already satisfied: six>=1.9.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.25.1)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/oi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Installing collected packages: gspread
Successfully installed gspread-4.0.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pygsheets
def write_to_gsheet(service_file_path, spreadsheet_id, sheet_name, data_df):
    """
    this function takes data_df and writes it under spreadsheet_id
    and sheet_name using your credentials under service_file_path
    """
    gc = pygsheets.authorize(service_file=service_file_path)
    sh = gc.open_by_key(spreadsheet_id)
    try:
        sh.add_worksheet(sheet_name)
    except:
        pass
    wks_write = sh.worksheet_by_title(sheet_name)
    wks_write.clear('A1',None,'*')
    wks_write.set_dataframe(data_df, (1,1), encoding='utf-8', fit=True)
    wks_write.frozen_rows = 1

In [ ]:
# https://stackoverflow.com/questions/62917910/python-export-pandas-dataframe-to-google-sheets-solved