In [1]:
import pandas as pd

In [3]:
data_df= pd.read_csv('14100328.csv',low_memory=False)
data_df.head()

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Job vacancies,Number,223,units,0,v104496271,1.1.1.1,408125.00,E,NaN,NaN,0
1,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Proportion of job vacancies,Percentage,242,units,0,v104496272,1.1.1.2,100.00,NaN,NaN,NaN,1
2,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Average offered hourly wage,Dollars,81,units,0,v104496273,1.1.1.5,19.15,D,NaN,NaN,2
3,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Job vacancies,Number,223,units,0,v104496274,1.1.2.1,303685.00,E,NaN,NaN,0
4,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Proportion of job vacancies,Percentage,242,units,0,v104496275,1.1.2.2,74.40,D,NaN,NaN,1

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27338080 entries, 0 to 27338079
Data columns (total 17 columns):
 #   Column                                Dtype
---  ------                                -----
 0   REF_DATE                              object
 1   GEO                                   object
 2   DGUID                                 object
 3   National Occupational Classification  object
 4   Job vacancy characteristics           object
 5   Statistics                            object
 6   UOM                                   object
 7   UOM_ID                                int64
 8   SCALAR_FACTOR                         object
 9   SCALAR_ID                             int64
 10  VECTOR                                object
 11  COORDINATE                            object
 12  VALUE                                 float64
 13  STATUS                                object
 14  SYMBOL                                float64
 15  TERMINATED                            object
 16  DECIMALS                              int64
dtypes: float64(2), int64(3), object(12)
memory usage: 3.5+ GB

In [5]:
data_df.Statistics.value_counts()

Job vacancies                  10036768
Proportion of job vacancies     9822176
Average offered hourly wage     7479136
Name: Statistics, dtype: int64

In [22]:
noc = data_df['National Occupational Classification'].value_counts()

In [31]:
noc= data_df.copy()
noc['National Occupational Classification'].str.split("[", expand=True)

                                 0     1
0           Total, all occupations  None
1           Total, all occupations  None
2           Total, all occupations  None
3           Total, all occupations  None
4           Total, all occupations  None
...                            ...   ...
27338075  Unclassified occupations  None
27338076  Unclassified occupations  None
27338077  Unclassified occupations  None
27338078  Unclassified occupations  None
27338079  Unclassified occupations  None

[27338080 rows x 2 columns]

In [38]:
noc['National Occupational Classification']= noc['National Occupational Classification'].map(lambda NOC: str(NOC.split('[')[0]))

In [45]:
noc.head(5)

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Job vacancies,Number,223,units,0,v104496271,1.1.1.1,408125.00,E,NaN,NaN,0
1,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Proportion of job vacancies,Percentage,242,units,0,v104496272,1.1.1.2,100.00,NaN,NaN,NaN,1
2,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Average offered hourly wage,Dollars,81,units,0,v104496273,1.1.1.5,19.15,D,NaN,NaN,2
3,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Job vacancies,Number,223,units,0,v104496274,1.1.2.1,303685.00,E,NaN,NaN,0
4,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Proportion of job vacancies,Percentage,242,units,0,v104496275,1.1.2.2,74.40,D,NaN,NaN,1

In [41]:
noc.dtypes

REF_DATE                                 object
GEO                                      object
DGUID                                    object
National Occupational Classification     object
Job vacancy characteristics              object
Statistics                               object
UOM                                      object
UOM_ID                                    int64
SCALAR_FACTOR                            object
SCALAR_ID                                 int64
VECTOR                                   object
COORDINATE                               object
VALUE                                   float64
STATUS                                   object
SYMBOL                                  float64
TERMINATED                               object
DECIMALS                                  int64
dtype: object

In [33]:
noc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27338080 entries, 0 to 27338079
Data columns (total 17 columns):
 #   Column                                Dtype
---  ------                                -----
 0   REF_DATE                              object
 1   GEO                                   object
 2   DGUID                                 object
 3   National Occupational Classification  object
 4   Job vacancy characteristics           object
 5   Statistics                            object
 6   UOM                                   object
 7   UOM_ID                                int64
 8   SCALAR_FACTOR                         object
 9   SCALAR_ID                             int64
 10  VECTOR                                object
 11  COORDINATE                            object
 12  VALUE                                 float64
 13  STATUS                                object
 14  SYMBOL                                float64
 15  TERMINATED                            object
 16  DECIMALS                              int64
dtypes: float64(2), int64(3), object(12)
memory usage: 3.5+ GB

In [11]:
data_df['Job vacancy characteristics'].value_counts().sort_index(ascending=True)

1 year to less than 3 years                                             697536
120 days or more                                                        116256
15 to 29 days                                                           697536
3 years to less than 5 years                                            697536
30 to 59 days                                                           697536
5 years to less than 8 years                                            697536
60 to 89 days                                                           697536
8 years or more                                                         697536
90 days or more                                                         697536
90 to 119 days                                                          116256
A professional or other type of certification is required               581280
Bachelor's degree                                                       697536
Certification requirement, all types                                    550624
College, CEGEP and other non-university certificate or diploma          697536
Company website                                                         465024
Constantly recruiting                                                   697536
Continuity of recruitment, all categories                               116256
Duration of job vacancy, all durations                                  666880
Full-time                                                               697536
Government employment centre or website                                 465024
High school diploma or equivalent                                       697536
Job or recruitment fairs at schools, colleges or universities           465024
Less than 1 year                                                        697536
Less than 15 days                                                       697536
Minimum experience level sought, all levels                             666880
Minimum level of education required, all levels                         666880
Newspaper ads                                                           465024
No minimum level of education required                                  697536
No professional or other type of certification required                 581280
Non-university certificate or diploma                                   697536
Not constantly recruiting                                               116256
Online job boards                                                       465024
Other recruitment strategies                                            465024
Part-time                                                               697536
Permanent                                                               697536
Personal contacts, referrals, informal networks                         465024
Posting a "help-wanted" sign on the storefront of the location          465024
Professional networking, headhunters or employment agency               465024
Recruitment strategies, all types                                       434368
Seasonal                                                                697536
Social media                                                            465024
Temporary (seasonal and non-seasonal)                                   697536
Trade certificate or diploma, or apprenticeship certificate             697536
Type of position, all types                                             666880
Type of work, all types                                                 666880
University certificate or diploma below bachelor's level                697536
University certificate, diploma or degree above the bachelor's level    697536
Name: Job vacancy characteristics, dtype: int64

In [14]:
data_df['STATUS'].value_counts()

..    11028069
x      5380011
F      4070335
A      1186813
D      1173461
E      1024978
B       802533
C       625127
Name: STATUS, dtype: int64

In [16]:
data_df['REF_DATE'].value_counts().sort_index(ascending=True)

2015-01    1143184
2015-04    1143184
2015-07    1143184
2015-10    1143184
2016-01    1143184
2016-04    1143184
2016-07    1143184
2016-10    1143184
2017-01    1143184
2017-04    1143184
2017-07    1143184
2017-10    1117970
2018-01    1118635
2018-04    1119629
2018-07    1120077
2018-10    1118810
2019-01    1119265
2019-04    1120553
2019-07    1119895
2019-10    1119230
2020-01    1172248
2020-10    1172248
2021-01    1172248
2021-04    1172248
Name: REF_DATE, dtype: int64

In [17]:
data_df['COORDINATE'].value_counts

<bound method IndexOpsMixin.value_counts of 0              1.1.1.1
1              1.1.1.2
2              1.1.1.5
3              1.1.2.1
4              1.1.2.2
               ...
27338075    14.12.42.2
27338076    14.12.43.1
27338077    14.12.43.2
27338078    14.12.44.1
27338079    14.12.44.2
Name: COORDINATE, Length: 27338080, dtype: object>

In [18]:
data_df["GEO"].value_counts()

Canada                       1967467
Ontario                      1965584
Quebec                       1964940
British Columbia             1964009
Alberta                      1962077
Manitoba                     1956799
Saskatchewan                 1954265
Nova Scotia                  1954041
New Brunswick                1952221
Newfoundland and Labrador    1948525
Prince Edward Island         1938900
Northwest Territories        1937206
Yukon                        1937164
Nunavut                      1934882
Name: GEO, dtype: int64

In [19]:
data_df['VECTOR'].value_counts()

v104539190     24
v104821748     24
v105284080     24
v105654451     24
v105092011     24
               ..
v1230823399     4
v1230881447     4
v1230878352     4
v1230827124     4
v1230814499     4
Name: VECTOR, Length: 1288504, dtype: int64

In [20]:
data_df['TERMINATED'].value_counts()

t    2294464
Name: TERMINATED, dtype: int64

In [21]:
data_df['DECIMALS'].value_counts()

0    10036768
1     9822176
2     7479136
Name: DECIMALS, dtype: int64